<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h3>{{ page.landing-title }}</h3>
            </header>
            <div class="row">
                <div class="content 10u 12u$(medium)">
                    <p style="">
                        I'm a Software Engineer at <a href="https://security.googleblog.com/" target="_blank">Google</a> probably out snowboarding, biking, listening to music, or reading.<br><br>
                        I'm fascinated by our raisons d’être and how we may best fulfill them.
                    </p>

                    <!--<ul class="actions">
                        <li><a href="#one" class="button next scrolly">Get Started</a></li>
                    </ul>-->
                </div>
                <div class="inner 2u 12u$(small)">
                  <ul class="icons">
                      <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                      <li><a href="{{ site.resume_url }}" class="icon alt fa-file" target="_blank"><span class="label">Resume</span></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <!--<section id="two">
            <div class="inner">
                <header class="major">
                  <h2>Massa libero</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="landing.html" class="button next">Get Started</a></li>
                </ul>
            </div>
        </section>-->

    </div>
    {% include footer.html %}

</body>
</html>
